astroid==2.0.1
beautifulsoup4==4.6.1
bs4==0.0.1
click==6.7
datefinder==0.7.0
Flask==1.0.2
isort==4.3.4
itsdangerous==0.24
Jinja2==2.11.3
lazy-object-proxy==1.3.1
MarkupSafe==1.0
marshmallow==3.0.0b13
mccabe==0.6.1
pep8==1.7.1
pylint==2.0.1
python-dateutil==2.7.5
pytz==2018.9
regex==2018.11.22
six==1.11.0
SQLAlchemy==1.3.8
Werkzeug==0.15.6
wrapt==1.10.11
